
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.navbar{
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0,0,0,0.5);
position: sticky;
top: 0;
}

.navbar ul{
display: flex;
list-style: none;
margin: 20px 0px;

}
.navbar ul li{
font-family: century;
font-size: 1.1rem;
font-weight: bold;

}

.navbar ul li a{
text-decoration: none;
color: #fff;
padding: 8px 25px;
transition: all .5s ease;
}


.navbar ul li a:hover{
background-color: #fff;
color: black;
box-shadow: 0 0 10px white;
}

#home{

display: flex;
flex-direction: column;
background-color: rgba(0,0,0,0.5);
height: 840px;
justify-content: center;
align-items: center;
color: black;


}

#home::before{

content:"";
position: absolute;
top: 0;
right: 0;
background: url(./halfya.jpg) no-repeat center center/cover;
height: 1000px;
width: 100%;
z-index: -1;
opacity: .8;
}
.main{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 70%;
right: 50%;
}
.headings{
font-family: century;
font-size:3rem;
text-align: center;
margin: 10px 10px;
}

.btn{
padding: 10px 35px;
background-color: transparent;
border: 1px solid white;
color: #fff;
outline: none;
transition: .6s ease;


}

.btn:hover{

cursor: pointer;
background-color: peru;
color: black;
box-shadow: 0 0 5px peru,0 0 10px peru,0 0 15px peru;
font-weight: bold;
}
#about{
display: flex;
flex-direction: column;
box-sizing: border-box;
padding: 100px;
margin-bottom: 50px;
}
#pic{
  display: flex;
}

#pic img {
width: 550px; ;
height: 400px;
}
#intro{
display: flex;
flex-direction: column;
text-align: justify;
padding: 10px;


}

#intro h2{
font-size: 2rem;
margin-bottom: 20px;

}

#portfolio{

display: flex;
flex-direction: column;
background-color: peru;
align-items: center;
padding: 20px;
}
.gallery{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
box-sizing: border-box;
}
.gallery img{

width: 350px;
height: 300px;
margin: 10px;
}

#services{
display: flex;
flex-direction: column;
padding: 10px;
}
.row{

  display: flex;
  justify-content: space-around;
flex-wrap: wrap;


}

.box{

display: flex;
flex-direction: column;
width: 350px;
height: 40 0px;
border: 1px solid black ;
margin: 10px;
align-items: center;
text-align: justify;
padding: 50px;
border-radius: 30px;
background: linear-gradient(to top, rgb(79, 51, 18)50%  , white 50%);
background-size: 100% 200%;
transition: all .8s;


}
.box:hover{

background-position: left bottom;
color: #fff;
border: none;
box-shadow: 0 0 20px rgb(rgb(59, 49, 12), rgb(71, 56, 17), rgb(75, 64, 17));

}


